.historialContenedor {
  position: absolute;
  width: 800px;
  height: 250px;
  /* White */
  background: #ffffff;
  /* shadow */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.emptyMessage {
  /* Ningún mensaje fue encontrado */
  width: 336px;
  height: 58px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  text-align: center;

  /* Gray/gray-500 */

  color: #343a40;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.Message {
  /* mensaje de historial */
  width: 100%;
  height: 58px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
  text-align: center;
  /* Gray/gray-500 */
  color: #343a40;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.reel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 11px;
  flex-wrap: wrap;
  justify-content: center;
}

.scroll {
  overflow-y: auto;
  width: auto;
  height: 60%;
}
.scroll::-webkit-scrollbar-track {
  padding: 2px 0;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0a3871;
}

.buttonMensaje {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 2%;
  width: 100%;
  height: 67px;
  /* Dark blue/dark-blue-300 */
  background-color: #b3ccea74;
  order: 0;
  flex-grow: 0;
  border-radius: 30px;
  border: none;
}
.buttonMensaje:hover {
  background: #495057;
  cursor: pointer;
}
.buttonMensaje:hover .Message {
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .historialContenedor {
    position: absolute;
    width: 95%;
    height: 500px;
    left: 10%;
  }
  .scroll {
    height: 30%;
  }
  .Message {
    font-weight: 0;
    font-size: 18px;
  }
}
