.contenedor {
  background: #e5e5e5;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  margin-bottom: 20%;
}

.textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  width: 600px;
  height: 300px;
  border-radius: 2.5%;
  /* identical to box height, or 48px */
  /* Dark blue/dark-blue-300 */
  color: #0a3871;
  background-color: #a4caf7;
  /*  Remove Resize Handler  */
  resize: none;
  border: none;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  position: relative;
  top: 40%;
  /* identical to box height, or 48px */
  /* Dark blue/dark-blue-300 */
  color: #0a3871;
}

textarea.textarea {
  background-color: #d8e8fe;
}

textarea.input {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  position: relative;
  top: 40%;
  /* identical to box height, or 48px */
  /* Dark blue/dark-blue-300 */
  color: #0a3871;
}

.framei {
  /* Vector */
  width: 16px;
  height: 16px;
  /* Gray/gray-400 */
  background: #495057;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.espacio {
  /* bi:exclamation-circle-fill */
  width: 16px;
  height: 16px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.textoFrame1 {
  /* Solo letras minúsculas y sin acentos */
  width: 205px;
  height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  /* Gray/gray-400 */
  color: #495057;
  opacity: 0.8;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo {
  /* Logo */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 120px;
  height: 48px;
  position: relative;
  /* position: absolute;
  left: 40px;
  top: 40px; */
}

.logoV {
  /* Logo */
  margin-left: 5%;
  margin-top: 5%;
  width: 40px;
  height: 40px;
  /* Inside auto layout */
  display: flex;
  align-items: first baseline;
  justify-content: first baseline;
  order: 0;
  flex-grow: 0;
}

.vector {
  /* Vector */
  /* position: absolute; */
  left: 36.67%;
  right: 37.43%;
  top: 0%;
  bottom: 0%;
  /* Dark blue/dark-blue-300 */
  background: #0a3871;
}

.circle {
  /* bi:exclamation-circle-fill */
  width: 16px;
  height: 16px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameInfo {
  /* Frame */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  /* position: absolute; */
  height: 16px;
  left: 0%;
  right: 0%;
  top: calc(50% - 16px / 2);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.textArea-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.frame1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.frame3 {
  /* Frame 3 */
  /* Auto layout */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 680px;
  height: 67px;
}

.frame3-1 {
  /* Frame 1 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 229px;
  height: 176px;
}

.frame4 {
  position: relative;
  display: flex;
  flex-direction: row;
}

.frame5 {
  position: absolute;
  margin-left: 70%;
  top: 2%;
}

.frame6 {
  position: absolute;
  margin-left: 5%;
  top: 85%;
}

.buttonEncriptar {
  /* Button */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  margin-right: 3%;
  width: 328px;
  height: 67px;
  /* Dark blue/dark-blue-300 */
  background: #0a3871;
  border-radius: 30px;
  border: none;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.buttonDesencriptar {
  /* Button */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  /* Light gray */
  background: #d8dfe8;
  /* Dark blue/dark-blue-300 */
  border: 1px solid #0a3871;
  border-radius: 30px;
  border: none;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.textoEncriptar {
  /* Button */
  width: 280px;
  height: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* White */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.buttonEncriptar:hover {
  background: #495057;
  cursor: pointer;
}

.buttonDesencriptar:hover {
  background: #495057;
  cursor: pointer;
}

.buttonDesencriptar:hover div {
  /* cuando el cursor este en padre buttonDesencriptar el texto del hijo
  div debe cambiar de color */
  color: #ffffff;
}

.textoDesencriptar {
  /* Button */
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* Dark blue/dark-blue-300 */
  color: #0a3871;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: #e5e5e5;
  }

  .textarea {
    height: 150px;
    width: 90%;
  }
  textarea::placeholder {
    font-weight: 0;
    font-size: 18px;
  }

  .textArea-buttons {
    width: 350px;
  }

  .buttonEncriptar {
    width: 95%;
  }
  .buttonDesencriptar {
    width: 95%;
  }

  .frame1 {
    display: flex;
    flex-direction: column;
  }
  .frame3 {
    width: 350px;
  }
  .frame4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .frame5 {
    width: 327px;
    top: 55%;
    right: 19%;
  }
  .frame6 {
    width: 327px;
    margin-top: 5%;
    position: absolute;
    top: 75%;
    right: 19%;
    margin-bottom: 5%;
  }
}
