.contenedor {
  background: #e5e5e5;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
}
.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  height: 150px;
  width: 98%;
  border-radius: 2.5%;
  /* identical to box height, or 48px */
  /* Dark blue/dark-blue-300 */
  color: #0a3871;
  background-color: #a4caf7;
  /*  Remove Resize Handler  */
  resize: none;
  border: none;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 150%;
  color: #0a3871;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea.textarea {
  background-color: #d8e8fe;
}

textarea.input {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  /* Dark blue/dark-blue-300 */
  color: #0a3871;
}

.espacio {
  /* bi:exclamation-circle-fill */
  width: 16px;
  height: 16px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.textoFrame1 {
  /* Solo letras minúsculas y sin acentos */
  width: 205px;
  height: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  /* Gray/gray-400 */
  color: #495057;
  opacity: 0.8;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo {
  /* Logo */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 120px;
  height: 5%;
  margin: 1%;
}

.logoV {
  /* Logo */
  width: 40px;
  /* Inside auto layout */
  display: flex;
  align-items: first baseline;
  justify-content: first baseline;
  order: 0;
  flex-grow: 0;
}

.vector {
  /* Vector */
  left: 36.67%;
  right: 37.43%;
  /* Dark blue/dark-blue-300 */
  background: #0a3871;
}
.textArea-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: auto;
}

.frame1 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  padding: 5%;
}

.frame3 {
  /* Frame 3 */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: auto;
  height: auto;
}

.frame3-1 {
  /* Frame 1 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 229px;
  height: 5%;
}

.frame4 {
  display: flex;
  flex-direction: column;
}

.frame5 {
  justify-content: center;
  align-items: center;
}

.frame6 {
  justify-content: center;
  align-items: center;
}

.buttonEncriptar {
  /* Button */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 95%;
  height: 67px;
  /* Dark blue/dark-blue-300 */
  background: #0a3871;
  border-radius: 30px;
  border: none;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 5%;
}

.buttonDesencriptar {
  /* Button */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 95%;
  height: 67px;
  /* Light gray */
  background: #d8dfe8;
  /* Dark blue/dark-blue-300 */
  border: 1px solid #0a3871;
  border-radius: 30px;
  border: none;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.textoEncriptar {
  /* Button */
  width: 280px;
  height: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* White */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.buttonEncriptar:hover {
  background: #495057;
  cursor: pointer;
}

.buttonDesencriptar:hover {
  background: #495057;
  cursor: pointer;
}

.buttonDesencriptar:hover div {
  /* cuando el cursor este en padre buttonDesencriptar el texto del hijo
  div debe cambiar de color */
  color: #ffffff;
}

.textoDesencriptar {
  /* Button */
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* Dark blue/dark-blue-300 */
  color: #0a3871;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

/* DESKTOP */
@media only screen and (min-width: 1281px) {
  .main {
    flex-direction: row;
    margin-bottom: 0%;
    height: 490px;
  }
  .textarea {
    height: 226px;
    width: 600px;
  }
  .frame1 {
    margin-top: 5%;
  }
  .frame4 {
    flex-direction: row;
  }
  .frame5 {
    margin-top: 1%;
    margin-left: 33%;
  }
  .frame6 {
    margin-bottom: 2%;
  }
  .buttonEncriptar {
    margin-right: 5%;
    width: 70%;
    height: 80%;
  }
  .buttonDesencriptar {
    width: 70%;
    height: 80%;
  }
}
